################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerRank/obj/Debug
/Leetcode/obj/Debug
/TestPad/bin/Debug
/TestPad/obj/Debug
/TestPad/TestPad.csproj.user
/TestPad/.vs/TestPad/v14/.suo
/Leetcode/bin/Debug/
/Python/AlienInvasion/__pycache__/
