################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerRank/obj/Debug
/Leetcode/obj/Debug
/TestPad/bin/Debug
/TestPad/obj/Debug
